<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349392211995-3pmqrgj56m1cuaf9emjcie55jgot8b2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349392211995-3pmqrgj56m1cuaf9emjcie55jgot8b2p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>349392211995-1lof4rq9apeqg90u8675hcvuj863vrgp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaT9gYF0S0aoTeU2X0rRiFqtprKJgT5es</string>
	<key>GCM_SENDER_ID</key>
	<string>349392211995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wielabs.hing</string>
	<key>PROJECT_ID</key>
	<string>hing-af9ca</string>
	<key>STORAGE_BUCKET</key>
	<string>hing-af9ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349392211995:ios:8963cf059525e5399ca8be</string>
</dict>
</plist>